.nominations {
    margin-top: 15px;
}

.nominations h2,
h3 {
    text-align: center;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

.nominations h2 {
    text-decoration: underline;
}

.nominations h3 {
    font-weight: 400;
}

.notice {
    text-align: center;
    font-style: italic;
    color: grey;
}