.nominations {
    margin-top: 15px;
}

.nominations h2 {
    text-align: center;
    margin-block-start: 0.4em;
    margin-block-end: 1em;
    text-decoration: underline;
}

.notice {
    text-align: center;
    font-style: italic;
    color: grey;
}